In [1]:
import pandas as pd
import numpy as np
import random as rnd

# visualization
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
Aug=pd.read_csv('data/train_Aug.csv')

In [3]:
Aug.head()

,id,driver_id,member_id,create_date,create_hour,status,estimate_money,estimate_distance,estimate_term,start_geo_id,end_geo_id
0,4274d909ef093f6acf7a10083ed91bda,55f51e0518470d3906ce07e5990a186f,82cab3e2cdaf398987476119a9ebb564,2017-08-01,12,2,42.00,7324.0,14.0,aa532f0935c3f7f5d2f1f337125998a0,940ed2bc6835c66f6261c972d4176d25
1,1a7c6820bb2bdaf5c8302770af844444,db8dcdff6c9164152c1974c34715a4b6,6279e4919266998bb5f73c283a5090d3,2017-08-01,12,2,37.00,5901.0,11.0,0a64b01e91cf367a9b016d4f6d42290f,1239d1bfdc532392645d7a37f7469adf
2,0d2261cee2654bd2a250b0458167eb5b,b16a06a5ea94028944a81ad5bbdbb8ca,db475cfbf3c4f6dc15b327b0d18713c7,2017-08-01,14,2,32.00,3137.0,6.0,c538ad66d710f99ad0ce951152da36a4,c538ad66d710f99ad0ce951152da36a4
3,7944af8f5d1c5e24aca80ed9cf28cb07,d41d8cd98f00b204e9800998ecf8427e,737643b4d285bada9f4cbb0e78c16fc6,2017-08-01,14,0,34.53,3672.0,7.0,ba20ac2de22cfe373f316eaa256b85fc,ba20ac2de22cfe373f316eaa256b85fc
4,f85e6f1c36ee1887824982c0d49a027a,744a981e300806bc53b0346a98c8f28d,ef8d60c395a297058948794ce93bd4ed,2017-08-01,16,2,31.00,4392.0,8.0,83fdd3fc77b27bdbfbc1b3a8d7912fbf,3d53327ef089e222f9d4aa6823f60c70

In [4]:
Aug=Aug[['start_geo_id','end_geo_id','create_date','create_hour']].sort_values(['create_date','create_hour'])

In [5]:
Aug['se_geo']=Aug['start_geo_id']+Aug['end_geo_id']

In [6]:
Aug.head()

,start_geo_id,end_geo_id,create_date,create_hour,se_geo
349,95804250db351da3502379b2ba13b3b0,95804250db351da3502379b2ba13b3b0,2017-08-01,0,95804250db351da3502379b2ba13b3b095804250db351d...
676,ee62ad9476f20f81a6c52c8562d0fb76,accd9ba16fbd7218451339035fcb4990,2017-08-01,0,ee62ad9476f20f81a6c52c8562d0fb76accd9ba16fbd72...
795,f62d9de83f8bb9eeeade47b8b12f9058,207629375e9bfd951dffd4b1ff7fcc13,2017-08-01,0,f62d9de83f8bb9eeeade47b8b12f9058207629375e9bfd...
1029,ba20ac2de22cfe373f316eaa256b85fc,6cadec6434a1553cd7cd5bfc35e7589f,2017-08-01,0,ba20ac2de22cfe373f316eaa256b85fc6cadec6434a155...
1147,0a64b01e91cf367a9b016d4f6d42290f,d052be68560d6c2ac53137eebaaca679,2017-08-01,0,0a64b01e91cf367a9b016d4f6d42290fd052be68560d6c...

In [9]:
Aug=Aug.groupby(['create_date','create_hour','se_geo'])['se_geo'].agg({'count':np.size}).reset_index()

/home/youchong/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: using a dict on a Series for aggregation
is deprecated and will be removed in a future version
  """Entry point for launching an IPython kernel.

In [10]:
Aug.head()

,create_date,create_hour,se_geo,count
0,2017-08-01,0,07eda31303c4ebd545fa2dedae5f7dd6f841c6a1468682...,1
1,2017-08-01,0,0a64b01e91cf367a9b016d4f6d42290f0e36f17c4567e5...,1
2,2017-08-01,0,0a64b01e91cf367a9b016d4f6d42290f1239d1bfdc5323...,2
3,2017-08-01,0,0a64b01e91cf367a9b016d4f6d42290f3fcb2fe11c0c68...,1
4,2017-08-01,0,0a64b01e91cf367a9b016d4f6d42290f596467ae80ad6f...,1

In [11]:
test=pd.read_csv('data/test_id_Aug_agg_public5k.csv')

In [12]:
test.head()

,test_id,start_geo_id,end_geo_id,create_date,create_hour
0,0,c538ad66d710f99ad0ce951152da36a4,90bb1d035e403538d20b073aec57bea2,2017-08-01,21
1,1,c538ad66d710f99ad0ce951152da36a4,6097a8df0b2757894ce7b4a48ae2a692,2017-08-01,21
2,2,c538ad66d710f99ad0ce951152da36a4,27d75f17e61587172fe7a6827bbaa198,2017-08-01,21
3,3,c538ad66d710f99ad0ce951152da36a4,6097a8df0b2757894ce7b4a48ae2a692,2017-08-01,17
4,4,92e1e8020813ef939183e345626b442a,92e1e8020813ef939183e345626b442a,2017-08-01,17

In [13]:
test['se_geo']=test['start_geo_id']+test['end_geo_id']

In [14]:
test.drop(['start_geo_id','end_geo_id'],axis=1,inplace=True)

In [15]:
test.head()

,test_id,create_date,create_hour,se_geo
0,0,2017-08-01,21,c538ad66d710f99ad0ce951152da36a490bb1d035e4035...
1,1,2017-08-01,21,c538ad66d710f99ad0ce951152da36a46097a8df0b2757...
2,2,2017-08-01,21,c538ad66d710f99ad0ce951152da36a427d75f17e61587...
3,3,2017-08-01,17,c538ad66d710f99ad0ce951152da36a46097a8df0b2757...
4,4,2017-08-01,17,92e1e8020813ef939183e345626b442a92e1e8020813ef...

In [16]:
h1=[]
h2=[]
for index,row in test.iterrows():
    count1=Aug[(Aug['create_date']==row['create_date'])&(Aug['se_geo']==row['se_geo'])&(Aug['create_hour']==row['create_hour']-1)]['count']
    count2=Aug[(Aug['create_date']==row['create_date'])&(Aug['se_geo']==row['se_geo'])&(Aug['create_hour']==row['create_hour']+1)]['count']
    if len(count1.values)>0:
        h1.append(count1.values[0])
    else:
        h1.append(1)
    if len(count2.values)>0:
        h2.append(count2.values[0])
    else:
        h2.append(1)

In [17]:
test['count1']=h1
test['count2']=h2

In [21]:
test[test['count2']==0]

Empty DataFrame
Columns: [test_id, create_date, create_hour, se_geo, count1, count2]
Index: []

In [23]:
test['count']=test['count1']+test['count2']

In [24]:
test['count']=test['count']//2

In [25]:
test.head()

,test_id,create_date,create_hour,se_geo,count1,count2,count
0,0,2017-08-01,21,c538ad66d710f99ad0ce951152da36a490bb1d035e4035...,5,32,18
1,1,2017-08-01,21,c538ad66d710f99ad0ce951152da36a46097a8df0b2757...,6,20,13
2,2,2017-08-01,21,c538ad66d710f99ad0ce951152da36a427d75f17e61587...,4,11,7
3,3,2017-08-01,17,c538ad66d710f99ad0ce951152da36a46097a8df0b2757...,9,9,9
4,4,2017-08-01,17,92e1e8020813ef939183e345626b442a92e1e8020813ef...,2,3,2

In [26]:
submision=pd.read_csv('data/UAI_sample_submission.csv')

In [27]:
submision.head()

   test_id  count
0        0      0
1        1      0
2        2      0
3        3      0
4        4      0

In [28]:
submision['count']=test['count']

In [29]:
submision.head()

   test_id  count
0        0     18
1        1     13
2        2      7
3        3      9
4        4      2

In [31]:
submision.to_csv('data/submission//sub_sample_avg.csv')