In [1]:
# data analysis and wrangling
import pandas as pd
import numpy as np
import random as rnd
import math

# visualization
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

# machine learning
import lightgbm as lgb

In [2]:
#train=pd.read_csv('train/train_2.csv')
train=lgb.Dataset('train/train_2.csv')

In [3]:
#valid=train.create_valid('train/valid.csv')

In [4]:
params = {
    'num_leaves': 127,
    'objective': 'regression',
    'min_data_in_leaf': 100,
    'learning_rate': 0.015,
    'feature_fraction': 0.8,
    'bagging_fraction': 0.8,
    'bagging_freq': 5,
    'metric': 'l2',
    'nthread': 32,
    'lambda_l1':0.10,
    'lambda_l2':0.10,
    'seed':1123,
    'header':True,
    'label':0
}

In [5]:
lgb_cb = lgb.cv(
    params,
    train,
    num_boost_round=10000,
    early_stopping_rounds=50,
    verbose_eval=50,    
)

/home/youchong/anaconda3/lib/python3.6/site-packages/lightgbm/basic.py:644: UserWarning: label keyword has been found in `params` and will be ignored. Please use label argument of the Dataset constructor to pass this parameter.
  'Please use {0} argument of the Dataset constructor to pass this parameter.'.format(key))
/home/youchong/anaconda3/lib/python3.6/site-packages/sklearn/model_selection/_split.py:605: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of members in any class cannot be less than n_splits=5.
  % (min_groups, self.n_splits)), Warning)

[50]	cv_agg's l2: 4.02623 + 1.11564
[100]	cv_agg's l2: 3.68841 + 1.0363
[150]	cv_agg's l2: 3.50737 + 0.9806
[200]	cv_agg's l2: 3.38624 + 0.939075
[250]	cv_agg's l2: 3.29667 + 0.901907
[300]	cv_agg's l2: 3.22929 + 0.870706
[350]	cv_agg's l2: 3.18077 + 0.851053
[400]	cv_agg's l2: 3.1415 + 0.83546
[450]	cv_agg's l2: 3.11058 + 0.819503
[500]	cv_agg's l2: 3.08614 + 0.812003
[550]	cv_agg's l2: 3.06617 + 0.804235
[600]	cv_agg's l2: 3.04785 + 0.793659
[650]	cv_agg's l2: 3.03318 + 0.785003
[700]	cv_agg's l2: 3.02022 + 0.779257
[750]	cv_agg's l2: 3.0112 + 0.775202
[800]	cv_agg's l2: 3.00097 + 0.769326
[850]	cv_agg's l2: 2.99136 + 0.763587
[900]	cv_agg's l2: 2.98424 + 0.758604
[950]	cv_agg's l2: 2.97698 + 0.753271
[1000]	cv_agg's l2: 2.9704 + 0.748037
[1050]	cv_agg's l2: 2.96407 + 0.741996
[1100]	cv_agg's l2: 2.95732 + 0.736637
[1150]	cv_agg's l2: 2.95087 + 0.730791
[1200]	cv_agg's l2: 2.94397 + 0.724834
[1250]	cv_agg's l2: 2.93966 + 0.720865
[1300]	cv_agg's l2: 2.93512 + 0.717194
[1350]	cv_agg's l2: 2.93068 + 0.713207
[1400]	cv_agg's l2: 2.92694 + 0.710541
[1450]	cv_agg's l2: 2.92377 + 0.708863
[1500]	cv_agg's l2: 2.92017 + 0.706209
[1550]	cv_agg's l2: 2.91695 + 0.703995
[1600]	cv_agg's l2: 2.91368 + 0.701411
[1650]	cv_agg's l2: 2.90968 + 0.696739
[1700]	cv_agg's l2: 2.90686 + 0.693981
[1750]	cv_agg's l2: 2.90453 + 0.692433
[1800]	cv_agg's l2: 2.90155 + 0.689772
[1850]	cv_agg's l2: 2.89874 + 0.687108
[1900]	cv_agg's l2: 2.89662 + 0.685179
[1950]	cv_agg's l2: 2.89394 + 0.682251
[2000]	cv_agg's l2: 2.89197 + 0.679886
[2050]	cv_agg's l2: 2.89042 + 0.678984
[2100]	cv_agg's l2: 2.88774 + 0.675887
[2150]	cv_agg's l2: 2.88597 + 0.673811
[2200]	cv_agg's l2: 2.88383 + 0.67106
[2250]	cv_agg's l2: 2.88166 + 0.6683
[2300]	cv_agg's l2: 2.8803 + 0.666897
[2350]	cv_agg's l2: 2.87875 + 0.664453
[2400]	cv_agg's l2: 2.87801 + 0.66325
[2450]	cv_agg's l2: 2.87666 + 0.661571
[2500]	cv_agg's l2: 2.87523 + 0.659761
[2550]	cv_agg's l2: 2.87404 + 0.658446
[2600]	cv_agg's l2: 2.87223 + 0.656834
[2650]	cv_agg's l2: 2.87146 + 0.655747
[2700]	cv_agg's l2: 2.87079 + 0.654273
[2750]	cv_agg's l2: 2.86932 + 0.652467
[2800]	cv_agg's l2: 2.8689 + 0.651662
[2850]	cv_agg's l2: 2.86822 + 0.651101
[2900]	cv_agg's l2: 2.86678 + 0.64919
[2950]	cv_agg's l2: 2.86555 + 0.647725
[3000]	cv_agg's l2: 2.86377 + 0.644993
[3050]	cv_agg's l2: 2.86284 + 0.643901
[3100]	cv_agg's l2: 2.86215 + 0.64233
[3150]	cv_agg's l2: 2.86045 + 0.639754
[3200]	cv_agg's l2: 2.85982 + 0.638782
[3250]	cv_agg's l2: 2.85938 + 0.637844
[3300]	cv_agg's l2: 2.85822 + 0.635917
[3350]	cv_agg's l2: 2.85681 + 0.634504
[3400]	cv_agg's l2: 2.85639 + 0.634334
[3450]	cv_agg's l2: 2.85588 + 0.633093
[3500]	cv_agg's l2: 2.85578 + 0.632511
[3550]	cv_agg's l2: 2.85512 + 0.63149
[3600]	cv_agg's l2: 2.85452 + 0.630097

In [6]:
nround = lgb_cb['l2-mean'].index(np.min(lgb_cb['l2-mean']))

In [7]:
nround

3579

In [8]:
bst=lgb.train(
    params,
    train,
    num_boost_round=nround,
    verbose_eval=50
)

In [9]:
test_data=pd.read_csv('train/test_2.csv')

In [10]:
test_data.head()

,test_id,start_geo_id,end_geo_id,year,month,day,create_hour,hour,text,code,...,petrol_station_y,supermarket_y,uptown_y,subway_station_y,bus_station_y,coffee_House_y,restaurant_y,atm_y,office_building_y,hotel_y
0,0,1022,1023,2017,8,1,23,23,1,4,...,2.0,41.0,205.0,5.0,28.0,4.0,691.0,54.0,45.0,126.0
1,1,1037,1037,2017,8,1,15,15,1,4,...,3.0,31.0,170.0,5.0,34.0,109.0,821.0,142.0,193.0,82.0
2,2,1080,1062,2017,8,1,21,21,1,4,...,3.0,32.0,271.0,7.0,44.0,15.0,680.0,86.0,86.0,130.0
3,3,1015,1085,2017,8,1,23,23,1,4,...,2.0,62.0,180.0,3.0,43.0,33.0,900.0,62.0,64.0,84.0
4,4,1091,1033,2017,8,1,11,11,6,9,...,1.0,7.0,23.0,1.0,17.0,12.0,69.0,27.0,6.0,38.0

In [11]:
test_id=test_data['test_id']
test_data.drop(['test_id'],axis=1,inplace=True)

In [12]:
test_data.head()

,start_geo_id,end_geo_id,year,month,day,create_hour,hour,text,code,temperature,...,petrol_station_y,supermarket_y,uptown_y,subway_station_y,bus_station_y,coffee_House_y,restaurant_y,atm_y,office_building_y,hotel_y
0,1022,1023,2017,8,1,23,23,1,4,28,...,2.0,41.0,205.0,5.0,28.0,4.0,691.0,54.0,45.0,126.0
1,1037,1037,2017,8,1,15,15,1,4,32,...,3.0,31.0,170.0,5.0,34.0,109.0,821.0,142.0,193.0,82.0
2,1080,1062,2017,8,1,21,21,1,4,29,...,3.0,32.0,271.0,7.0,44.0,15.0,680.0,86.0,86.0,130.0
3,1015,1085,2017,8,1,23,23,1,4,28,...,2.0,62.0,180.0,3.0,43.0,33.0,900.0,62.0,64.0,84.0
4,1091,1033,2017,8,1,11,11,6,9,30,...,1.0,7.0,23.0,1.0,17.0,12.0,69.0,27.0,6.0,38.0

In [13]:
ypred = bst.predict(test_data)

In [14]:
ypred

array([ 1.0824805 ,  2.63255987,  1.67825413, ...,  2.40266516,
        1.48114574,  2.28236182])

In [15]:
submission = pd.DataFrame({
        "test_id": test_id,
    })

In [16]:
submission['count']=ypred

In [17]:
submission.head()

   test_id     count
0        0  1.082481
1        1  2.632560
2        2  1.678254
3        3  3.208614
4        4  1.217403

In [18]:
submission.to_csv('data/submission/sub_10w.csv',index=False)