In [1]:
import pandas as pd
import numpy as np
import random as rnd

In [2]:
july=pd.read_csv('data/train_July.csv')
aug=pd.read_csv('data/train_Aug.csv')

In [3]:
july=july.sort_values(['create_date','create_hour','start_geo_id','end_geo_id'])
aug=aug.sort_values(['create_date','create_hour','start_geo_id','end_geo_id'])

In [4]:
july_aug=pd.concat([july,aug],axis=0)

In [5]:
july_aug.head()

,id,driver_id,member_id,create_date,create_hour,status,estimate_money,estimate_distance,estimate_term,start_geo_id,end_geo_id
140484,cc874301b6287c3bfc85a33c2838e6a7,a77aa99572b3093d4727ab4b26c19ec8,b4502d9bc4061f78d58ae7dff513fca1,2017-07-01,0,2,53.00,7993.0,15.0,0175b8486a67a505f0dc183f6df7f750,e8075aa7f0fc96871cc204bea0696b43
424969,05c8a90bfcaccffd35ec1e478d28b1f4,872d4b63a98c4e7d752091701f30b2e8,263d0ee3545b130a9620dd17520d9873,2017-07-01,0,1,76.03,11780.0,21.0,02fa9f7cd1d2c5dfdb32ed9c2aec23d9,bae435e54e698139d5dfda788f91f32e
512405,cb9562253d80fb50b09b71becd1e4c2a,4128af1c3d6761cd2a7b902d63c633be,1fb04c8cff05de9344a5c28f90f10853,2017-07-01,0,2,162.00,24848.0,33.0,02fa9f7cd1d2c5dfdb32ed9c2aec23d9,f5dc996f6aa097f7a84a9bcfe58ed55c
138303,0b09e8d7ad6ce04db8dd86e1e9781dac,676a50b58679afc0e573776d7cbb3835,66a4b2373d81f406524cfe971d8c1f85,2017-07-01,0,2,106.00,14380.0,22.0,0a64b01e91cf367a9b016d4f6d42290f,0613fd690240317177a03a0b26ca8591
660676,b3cd752e659d0a59a17ca93a0d8036b1,c0ad0bd82af303c6f4c071bbe1f20e5a,42a64158ef5efa210cb63687062ff8c8,2017-07-01,0,2,43.00,3234.0,6.0,0a64b01e91cf367a9b016d4f6d42290f,0a64b01e91cf367a9b016d4f6d42290f

In [6]:
july_aug.to_csv('data/july_aug.csv',index=False)